<div fxLayoutAlign="center stretch" fxLayout='column' class='wrapper'>
  <div fxLayout='row'>
    <div fxFlex="70" class='wrapper-content'>
      <h1>Events List</h1>
    </div>
  </div>
  <div fxLayout='row'>
    <div fxFlex="70" fxLayout='row' fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign="center start"
      fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="20px" class='wrapper-content'>
      <mat-card fxFlex="100" fxFlex.xs='100' fxFlex.sm='100' class="main-content">
        <mat-card-content>
          <mat-list>
            <mat-list-item style='cursor: pointer;' *ngFor="let event of events$ | async" (click)='goToEvent(event.id)'>
              <mat-icon mat-list-icon>star_border</mat-icon>
              <h1 mat-line>{{ event.title }}</h1>
              <p mat-line>{{ event.description }}</p>
              <button mat-icon-button color='warn' (click)="removeEvent(eventId)">
                <mat-icon mat-list-icon>highlight_off</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>