<div fxLayout="column" fxLayoutAlign="space-around center">

  <mat-card flex class="event-card">
    <h2>Hackathon 2019</h2>
    
    <h4>27 July 2019</h4>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>

      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra efficitur est in elementum. Vestibulum
        et efficitur lorem, nec ultricies justo. Mauris erat ex, tempus eu sodales et, sollicitudin vitae est. Mauris
        elementum leo tortor, eget luctus risus molestie in. Integer sapien eros, scelerisque vel sapien quis, tincidunt
        facilisis quam. Sed lacinia, justo vitae porttitor ullamcorper, felis lorem laoreet dui, non consequat nibh
        purus quis nulla. Nulla pretium elementum tempus.
      </p>
      <p>
        Proin eu posuere diam. Donec rhoncus augue sit amet risus aliquet consequat. Vestibulum pretium dignissim neque,
        sit amet fringilla sapien. Mauris suscipit arcu ut libero imperdiet facilisis. Duis vehicula semper urna, auctor
        iaculis urna vestibulum in. Aliquam quis felis vitae ligula egestas feugiat eget eget ligula. Suspendisse eget
        lacinia dolor. Nullam mi nisl, condimentum sit amet molestie a, eleifend sit amet libero. Sed condimentum est
        ex, dignissim vehicula felis faucibus in.</p>

        <h3>Criteria</h3>
        <h5>Project Concept (0 - 100)</h5>
        <h5>Technological Innovation (0 - 100)</h5>
        <h5>Interaction Exploration (0 - 100)</h5>
        <h5>Technology (0 - 100)</h5>
    </mat-card-content>
    <mat-card-footer class="event-card-footer">
      <mat-divider></mat-divider>
      <p><span>files:</span>Download the Brief here</p>
      <mat-divider></mat-divider>
      <br>
      <h3>Hack Groups</h3>
      <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-card flex class="event-group-card" [ngStyle.xs]="{'width': '90%'}" [ngStyle.sm]="{'width': '40%'}" [ngStyle.md]="{'width': '40%'}">
          <mat-card-content>
            <h3>Group 1</h3>
            <p>member 1</p>
            <p>member 2</p>
          </mat-card-content>
        </mat-card>

        <mat-card flex class="event-group-card" [ngStyle.xs]="{'width': '90%'}" [ngStyle.sm]="{'width': '40%'}" [ngStyle.md]="{'width': '40%'}">
          <mat-card-content>
            <h3>Group 2</h3>
            <p>member 1</p>
            <p>member 2</p>
          </mat-card-content>
        </mat-card>
        <mat-card flex class="event-group-card" [ngStyle.xs]="{'width': '90%'}" [ngStyle.sm]="{'width': '40%'}" [ngStyle.md]="{'width': '40%'}">
            <mat-card-content>
              <h3>Group 2</h3>
              <p>member 1</p>
              <p>member 2</p>
              <p>member 1</p>
              <p>member 2</p>
              <p>member 1</p>
              <p>member 2</p>
            </mat-card-content>
          </mat-card>
          <mat-card flex class="event-group-card" [ngStyle.xs]="{'width': '90%'}" [ngStyle.sm]="{'width': '40%'}" [ngStyle.md]="{'width': '40%'}">
              <mat-card-content>
                <h3>Group 2</h3>
                <p>member 1</p>
                <p>member 2</p>
              </mat-card-content>
            </mat-card>

        <mat-card flex class="event-group-card" [ngStyle.xs]="{'width': '90%'}" [ngStyle.sm]="{'width': '40%'}" [ngStyle.md]="{'width': '40%'}">
            <mat-card-content style="text-align: center">
              <h1>+</h1>
              
            </mat-card-content>
          </mat-card>

      </div>
    </mat-card-footer>
  </mat-card>


</div>