.spinnerPos {
  margin: 0 auto 0 auto;
}

.spinnerOuter {
  position: relative;
}

.spinnerInner {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 700;
}

.results-card {
  margin-top: 50px;
}

.results-content {
  padding: 0px 16px;
}
