<div fxLayoutAlign="center stretch" fxLayout='column' class='wrapper'>
  <div fxLayout='row'>
    <div fxFlex="70" class='wrapper-content'>
      <div fxLayout='row' fxLayoutAlign="space-between center">
        <h1>Vote for {{ (group$ | async)?.name }}</h1>
        <div fxLayoutGap='10px'>
          <button mat-raised-button color='accent' (click)='goBack()'>Back</button>
          <button mat-raised-button color='primary' (click)='submitVote()'>vote</button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout='row'>
    <div fxFlex="70" fxLayout='row' fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign="center start"
      fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="20px" class='wrapper-content'>

      <!-- {{ groupCriteria$ | async | json }} -->
      <mat-card fxFlex="30" fxFlex.xs='100' fxFlex.sm='100' class='side-content'
        *ngFor='let criteria of (groupCriteria$ | async)?.votes; let i = index'>
        <mat-card-content>
          <h2>{{criteria.name}}</h2>
          <div fxLayout='column' fxLayoutAlign="center center">
            <div fxLayoutAlign="center center" class="spinnerOuter">
              <mat-progress-spinner class="spinnerPos" color="primary" mode="determinate" [value]="criteria.value">
              </mat-progress-spinner>
              <div class="spinnerInner">
                {{ criteria.value }} %
              </div>
            </div>
          </div>
          <br>
          <div fxLayout='column' fxLayoutGap="20px">

            <mat-slider class="sliderPos" min="criteria.critStart" max="criteria.critEnd" step="1" thumbLabel="true"
              [(value)]="criteria.value">
            </mat-slider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


</div>